@model List<EmployeeUser>
@{
    ViewData["Title"] = "کاربران";

}

<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>

                <th scope="col"> نام پرسنل </th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-warning" asp-action="EditEmployee"  asp-route-employeeId="@item.EmployeeUserId">ویرایش</a> | <a class="btn btn-danger" asp-action="DeleteEmployee" asp-area="Admin" asp-controller="Admin" asp-route-employeeId="@item.EmployeeUserId">حذف</a>
                       
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <pre></pre>

    <a class="btn btn-success" href="/Admin/Admin/AddEmployee">افزودن</a>
    <a href="/" class="btn btn-primary">بازگشت</a>


</div>
