@model EmploymentDataLayer.User



<div class="row justify-content-center">

    <div class=" card mt-3" style="width: 18rem;">

        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="card-body">
                <h5 class="card-title">حذف کاربر</h5>
                <hr />
                <p class="card-text">آیا از حذف کاربر مطمئن هستید؟</p>
                <div class="row align-items-center">
                    <label class="col-auto m-1">نام کاربر:  </label>
                    <input asp-for=Name class="col-auto" readonly/>
                </div>
                <pre></pre>
                <button type="submit" class="btn btn-danger">حذف</button>
                <a  class="btn btn-primary">بازگشت</a>
            </div>
        </form>

    </div>
</div>